extends layout 

block content 
    h1 Delete Post
    div 
        div #{post.user.firstName} #{post.user.lastName} 
        div #{post.date}  
        div #{post.content}
             
    form(method='post' action='')
        input#post(type='hidden' name='post' value='post._id')
        button Delete
        
