extends layout

block content
  h1 Sign Up!
  form(method='post' action='')
    label First Name: 
      input#first-name(type='text' name='firstName' required)
    label Last Name: 
      input#last-name(type='text' name='lastName' required)
    label Email: 
      input#username(type='email' name='username' required)
    label Password: 
      input#password(type='text' name='password' required)
    label Confirm Password: 
      input#confirm-password(type='text' name='confirmPassword' required)
    button(type='submit') Register